.testimony {
  text-align: center;
  margin: 10%;
}

.testimony h3 {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(210, 4%, 67%);
  margin-bottom: 100px;
}
.individual-flex {
  display: flex;
}
.individual-flex > * {
  flex-basis: 100%;
}
.individuals {
  margin: 0px 10px 0px 10px;
  line-height: 30px;
}
.individuals img {
  border-radius: 50%;
  width: 60px;
  margin-bottom: 25px;
}

.individuals .name {
  margin-top: 50px;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.individuals .proffesion {
  margin-top: 10px;
  font-size: smaller;
}
